.PostInput-form {
    min-width: 600px;
    margin-bottom: 30px;
}

.PostInput-form input, .PostInput-form select{
    width: 100%;
}

.PostInput-form button {
    padding: 10px;
    margin: 10px;
}

