body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  color: #f75e5e;
  background-color: #fcb7b7;
  border: 1px solid  #fc2828;
  border-radius: 5px;
  padding:  10px 40px;
  font-size: 12pt;
}


.ok {
  color: #57b850;
}

.danger {
  color: #f75e5e;
}